<h1 class="my-4">Users</h1>

<%= form_with url: users_path, method: :get, local: true, class: "mb-4" do %>
  <div class="form-row align-items-end">
    <div class="form-group col-md-3">
      <%= label_tag :search, "Search" %>
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= label_tag :gender, "Gender" %>
      <%= select_tag :gender, options_for_select([['Male', 'Male'], ['Female', 'Female']], params[:gender]), include_blank: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>



<h2 class="my-4">Import Users from CSV</h2>

<%= form_with url: import_users_path, local: true, multipart: true, class: "mb-4" do %>
  <div class="form-group">
    <%= file_field_tag :file, class: "form-control-file" %>
  </div>
  <div class="form-actions">
    <%= submit_tag "Import CSV", class: "btn btn-success" %>
  </div>
<% end %>

<div class="form-row align-items-end">
  <%= link_to 'New User', new_user_path, class: 'btn btn-primary mb-4' %>
</div>


<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Gender</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.contact %></td>
        <td><%= user.gender %></td>
        <td><%= link_to 'Show', user, class: "btn btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning btn-sm" %></td>
        <td><%= button_to 'Destroy', user_path(user), method: :delete, onclick: "return confirm('Are you sure?');", class: "link-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= will_paginate @users, class: "pagination" %>
</div>
